<main class="bg-custom container border rounded homecont container-fluid p-5 mt-5" id="content">
  {{#if logged_in}}
    <section class="d-flex justify-content-around logbtnArea">
      <button class="logbtn" id="logout">Logout</button>
      <a href="/useritems"><button class="logbtn" id="useritems-button">View my Foods</button></a>
      <a href="/userfridges"><button class="logbtn" id="userfridges-button">View My Fridges</button></a>
    </section>
  {{else}}
    <section class="d-flex justify-content-around logbtnArea">
      <button class="logbtn" id="login-button">Login</button>
    </section>
  {{/if}}
  <div class="d-flex flex-row justify-content-center align-items-center map-page">
    {{!-- <section> --}}
      {{!-- add map here --}}
      <div id="map"></div>
      {{!--
    </section> --}}
    {{!-- <section> --}}
      {{!-- list of fridges --}}
      {{!-- <h1>My Fridges</h1>
      <ul> --}}
        {{!-- list user's subscribed fridges here --}}
        {{!-- </ul>
    </section> --}}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/home.js"></script>
  <script src="/logout.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6L6whRm8FlsozW7lN8bUic-Jh8uClIyU&map_ids=481e26f102ca36c2&callback=initMap">
    </script>
  {{!-- TODO: Replace api key with more secure option before project submission --}}
</main>