<main class="bg-custom container border rounded logcont container-fluid p-5 mt-5" id="content">
    <section class="d-flex flex-wrap align-items-center justify-content-center stuff">
        <h1 id="title">Phree Philly Phridge</h1>
        <div class="push mt-500px"></div>
        <section class="mb-4">
            <h2 id="login">Login</h2>
            <input class="textbox" type="text" placeholder="Username">
            <input class="textbox" type="password" placeholder='Password'>
        </section>
        <div class="push"></div>
        <section class="mt-4 mx-3">
            <button class="logbtn mx-3">Login</button>
            <button class="logbtn mx-3">Register</button>
        </section>
    </section>

</main>