<main class="bg-custom container border rounded logcont mainhandle container-fluid p-5 mt-5" id="content">
    {{>back-btn}}
    <form class="d-flex flex-column align-items-center justify-content-center stuff">
        <h1 id="title">Phree Philly Phridge</h1>
        <div class="push mt-500px"></div>
        <h2 id="login">Login</h2>
        <section class="mb-4">
            <input class="textbox" id="username-login" type="text" placeholder="Username">
            <input class="textbox" id="password-login" type="password" placeholder='Password'>
        </section>
        <div class="push"></div>
        <section class="mt-4 mx-3">
            <button class="logbtn" id="login-form">Login</button>
            <button type="button" class="logbtn" data-bs-toggle="modal" data-bs-target="#modal">Register</button>
        </section>
    </form>

</main>

<script src='/login.js'>
</script>
<script src="/backbtn.js"></script>