<h1>Phree Philly Phridge</h1>
<section>
    <h2>login</h2>
      <input type="text" placeholder="Username"> 
       <input type="text" placeholder="Password">
</section>
<button>Login</button>
<button>Register</button>