<section>
    {{!-- add map here --}}
    <div id="map"></div>
</section>
<section>
    {{!-- list of fridges --}}
    <h1>My Fridges</h1>
    <ul>
        {{!-- list user's subscribed fridges here --}}
    </ul>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../public/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6L6whRm8FlsozW7lN8bUic-Jh8uClIyU&map_ids=481e26f102ca36c2&callback=initMap">
    </script>
{{!-- TODO: Replace api key with more secure option before project submission --}}