<section>
    <div>
        <h3>Fridge Name</h3>
        <input type="text" placeholder="Input Fridge Name Here">
    </div>
</section>
<section>
        <div>
        <h3>Street Number</h3>
        <input type="text" placeholder="Input  Here">
    </div>
        <div>
        <h3>Street Name</h3>
        <input type="text" placeholder="Input  Here">
    </div>
        <div>
        <h3>City</h3>
        <input type="text" placeholder="Input  Here">
    </div>
        <div>
        <h3>Zip</h3>
        <input type="text" placeholder="Input  Here">
    </div>
</section>