<section>
    <ul>
        {{!-- list of fridges --}}
    </ul>
</section>
{{!-- will appear after you click on one of the fridges --}}
<section>
<h2>Are you shure you want to delete this fridge?</h2>
<button>yes</button>
<button>no</button>
</section>
{{!-- if you have no fridges --}}
<section>
    <h2>No fridges to delete</h2>
</section>