<main class="bg-custom container border rounded logcont container-fluid p-5 mt-5" id="content">
            <section class="d-flex flex-wrap align-items-center justify-content-center stuff">
                <h1 id="title">User Food</h1>
                <div class="push mt-500px"></div>
                <section class="mb-4">
                    <input class="textbox" type="Fridge" placeholder="My Phridge's Food">
                    <p>Food Item</p>
                    <section class="mt-4 mx-3">
                        <button class="logbtn mx-3">Remove</button>
                    </section>
                    <section class="mt-4 mx-3">
                        <button class="logbtn mx-3">Add +</button>
                    <p>Food Item</p>
                    </section>
                    <section class="mt-4 mx-3">
                        <button class="logbtn mx-3">Add +</button>
                    </section>
                    <section class="mt-4 mx-3">
                        <button class="logbtn mx-3">Remove</button>
                    </section>
                </section>
                <div class="push"></div>
            </section>
            
        </main>
   <h3 class="user-title">{{data.username}}'s items</h3>
   <ul>
   {{#each data.Items as |item|}}
   <li>{{item_name}}: Expires on {{expiration_date}}</li>
   {{/each}}
   </ul>
</section>