<main class="bg-custom container border rounded logcont container-fluid p-5 mt-5" id="content">
    {{>back-btn}}
    <section class="d-flex flex-column flex-wrap align-items-center justify-content-center stuff">
        <h1 id="title">My Phridges</h1>
        <div class="push mt-500px"></div>
        <section class="mb-4">
            <input class="textbox" type="Fridge" placeholder="Fridge Name">
            <section class="mt-4 mx-3">
                <button class="logbtn mx-3">Remove</button>
            </section>
            <section class="mt-4 mx-3">
                <button class="logbtn mx-3">Add +</button>
            </section>
            {{!-- <input class="textbox" type="Fridge" placeholder='Fridge Name'>
            <section class="mt-4 mx-3">
                <button class="logbtn mx-3">Remove</button>
            </section>
            <section class="mt-4 mx-3">
                <button class="logbtn mx-3">Add +</button>
            </section> --}}
        </section>
        <div class="push"></div>
    </section>

    <section class="placeholdertext">

        <h3 class="username-title">{{data.username}}'s Fridges</h3>

        {{#each data.fridges as |fridge|}}
        {{>fridge-details}}
        {{/each}}


    </section>

</main>

<script src="/backbtn.js"></script>