<main class="bg-custom container border rounded logcont container-fluid p-5 mt-5" id="content">
    {{>back-btn}}
    <section>
        <h2>Fridge1</h2>
        <ul>
            <li>
                <p>food item</p>
                <p>expiration</p>
                <button>delete</button>
            </li>
        </ul>
    </section>
    <section>
        <h2>Fridge2</h2>
        <ul>
            <li>
                <p>food item</p>
                <p>expiration</p>
                <button>delete</button>
            </li>
        </ul>

        <h3 class="user-title">{{data.username}}'s items</h3>
        <ul>
            {{#each data.Items as |item|}}
            <li>{{item_name}}: Expires on {{expiration_date}}</li>
            {{/each}}
        </ul>
    </section>

</main>

<script src="/backbtn.js"></script>