<section>
    <h2>Fridge1</h2>
    <ul>
        <li>
            <p>food item</p>
            <p>expiration</p>
            <button>delete</button>
        </li>
    </ul>
</section>
<section>
    <h2>Fridge2</h2>
    <ul>
        <li>
            <p>food item</p>
            <p>expiration</p>
            <button>delete</button>
        </li>
    </ul>

   <h3 class="user-title">{{user.username}}'s items</h3>
   <ul>
   {{#each user.Items as |item|}}
   <li>{{item_name}}: Expires on {{expiration_date}}</li>
   {{/each}}
   </ul>
</section>