* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

#backroundI {
    background-image: url(../images/IMG_8999.jpg);
    background-size: cover;

}

.fridgelist {
    font-size: 30px;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflowing text */
    text-overflow: ellipsis;
    /* Show ellipsis (...) for overflowing text */
    max-width: 100%;
    overflow-x: auto;
    height: 100%;
}

.mainhandle {
    border: 6px solid #ffc107 !important;
}

.borderfood{
    border: 6px solid cadetblue !important;
}

.textbox {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
}

.push {
    width: 1000vh;
}

#login {
    font-size: 40px;
    margin-bottom: 20%;
}

.FridgeManageCont {
    max-width: 1750px
}

#title {
    font-size: 75px;
    margin-bottom: 60px;
    margin-top: 10vh;
}

#lll{
    margin-left: 30%;
}

.logbtn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    font-size: 15px;
    background-color: yellow;
}

.logbtnArea {
    margin-left: 15vh;
    margin-right: 15vh;
}

.mapcont {
    height: 90%;
    width: 90vh !important;
    /* Adjust the width to your desired size */
    margin: 0 auto;
    /* Center the container horizontally */
}

.logcont {
    max-width: 900px;
    opacity: 85%;
}

.homecont {
    opacity: 98%;
    max-width: 1750px;
}

#content {
    background-color: skyblue;
    border-width: 10px;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -2em;
}

.textbox-container {
    display: inline-block;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.FridgeManageCont {
    opacity: 90%;
}

#map {
    height: 62vh;
    width: 80vw;
}

.map-page,
.map-page::before,
.map-page::after {
    box-sizing: inherit;
}

.map-page {
    box-sizing: border-box;
    font-size: 100%;
    margin-top: 2em;
}

.logbtn:hover {
    background-color: darkgoldenrod;
}

@media (min-width: 1200px) {
    .logcont {
        max-width: 1000px;
    }
}

@media (min-width: 2000px) {
    .logcont {
        max-width: 1000px;
    }

    #login {
        font-size: 75px;
        margin-bottom: 30%;
        margin-top: 10%;
    }
}

@media (max-width: 700px) {
    .logcont {
        max-width: 500px;
    }

    .homecont{
        max-width: 500px;
    }

    #lll{
        margin-left: auto;
    }

    #title {
        margin-top: 5vh;
        font-size: 60px;
    }

    .textbox {
        margin-bottom: 2vh;
    }
}